@font-face {
  font-family: "Yandex Sans Display";
  src: url(../fonts/YandexSansDisplay-Regular.ttf);
}

body {
  font-family: "Yandex Sans Display";
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr,
li {
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.container {
  max-width: 1368px;
}

.header {
  z-index: 5;
  width: 100%;
  min-height: 70px;
}

.header__inner {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.header-nav {
  font-size: 15px;
  line-height: 16px;
  height: 100%;
}

.header-nav__list {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-nav__item {
  text-decoration: none;
  color: #8B8B8B;
  margin-left: 35px;
  transition: 0.1s ease-in all;
}

.header-nav__item:hover {
  color: #000;
}

.header-nav_active {
  color: #000;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  margin-left: 20px;
  color: #8B8B8B;
  font-size: 14px;
  line-height: 15px;
  max-width: 149px;
}

.phone {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone__num {
  font-size: 16px;
  line-height: 17px;
}

.phone__link {
  font-size: 11px;
  line-height: 12px;
  color: #8B8B8B;
  text-decoration: underline;
  transition: color 0.1s ease-in;
}

.phone__link:hover {
  color: #ED1D24;
  text-decoration: underline;
}

.btn_long {
  background-color: #FFDF39;
  text-decoration: none;
  padding: 12px 60px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 19.26px;
  transition: all 0.1s ease-in;
}

.btn_long:hover {
  background-color: #ecc500;
}

.btn_car {
  background-color: #FFDF39;
  text-decoration: none;
  padding: 7.5px 22px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 19.26px;
  transition: all 0.1s ease-in;
  font-size: 18px;
  line-height: 28.8px;
}

.btn_car:hover {
  background-color: #ecc500;
}

.btn_short {
  background-color: #FFDF39;
  text-decoration: none;
  padding: 12px 47px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 19.26px;
  transition: all 0.1s ease-in;
  font-size: 16px;
  line-height: 17.12px;
  outline: none;
  border: none;
}

.btn_short:hover {
  background-color: #ecc500;
}

.btn_short:focus {
  outline: 0.5px solid #8B8B8B;
}

.smartphone {
  position: absolute;
}

.smartphone.sp-1 {
  top: -75px;
  left: -40px;
}

.smartphone.sp-2 {
  top: -30px;
  right: 10px;
}

.form {
  width: 100%;
  margin-top: 45px;
  font-size: 14px;
  line-height: 17.15px;
  color: #000;
}

.form__textbox {
  width: 100%;
  height: 45px;
  border: 0.3px solid #8B8B8B;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 17.15px;
}

.form__textbox:focus {
  outline: 0.5px solid #8B8B8B;
}

.form__item {
  margin-top: 20px;
}

.form__label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__footer {
  align-items: center;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.form__policy {
  color: #8B8B8B;
  margin-left: 27px;
  font-size: 12px;
  line-height: 12.84px;
}

.form__policy-link {
  text-decoration: underline;
  transition: all 0.1s ease-in;
}

.form__policy-link:hover {
  color: #ED1D24;
  text-decoration: underline;
}

.form__error,
.form__success {
  text-align: center;
  color: #ED1D24;
  font-size: 15px;
  line-height: 16px;
}

.form__success {
  transition: 0.1s ease-in all;
  margin-top: 15px;
  opacity: 0;
}

.form__success-show {
  opacity: 1;
}

.prefooter {
  background-color: #FFDF39;
  padding: 40px 0;
  text-align: center;
  font-size: 30px;
  line-height: 36.75px;
  transition: 0.2s ease-in all;
}

.prefooter:hover {
  background-color: #ecc500;
}

.prefooter__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.prefooter__text_bold {
  margin-right: 20px;
  font-weight: 700;
}

.prefooter__img {
  margin-left: 30px;
}

.footer {
  background-color: #222222;
  padding: 0 100px;
  padding-top: 33px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 15px;
  line-height: 16.05px;
  text-align: center;
}

.footer__text,
.footer__text_sm {
  text-align: left;
  margin-top: 6px;
}

.footer__text_sm {
  font-size: 14px;
  line-height: 15.68px;
}

.footer__item {
  height: 100%;
}

.footer-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav__item,
.footer-nav__item_active {
  color: #8B8B8B;
  padding-right: 15px;
  transition: all 0.1s ease-in;
}

.footer-nav__item_active {
  color: #fff;
}

.footer-nav__item:hover,
.footer-nav__item_active:hover {
  color: #fff;
}

.footer__policy {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  transition: all 0.1s ease-in;
}

.footer__policy:hover {
  color: #ED1D24;
}

.section {
  margin: 120px 0;
}

.section__title {
  font-size: 30px;
  line-height: 36.75px;
  color: #000;
}

.section__side,
.section__side_relative {
  width: 100%;
  height: 100%;
}

.section__side_relative {
  position: relative;
}

.section__side-img {
  height: 100%;
  width: 100%;
}

.section-inner {
  margin-top: 40px;
  padding-left: 100px;
}

.section-inner__title,
.section-inner__title_sm,
.section-inner__title_second {
  font-size: 40px;
  line-height: 49px;
  padding-top: 20px;
}

.section-inner__title_second {
  margin-top: 40px;
}

.section-inner__title_sm {
  font-size: 30px;
  line-height: 36.75px;
}

.section-inner__descr {
  font-size: 18px;
  line-height: 28.8px;
  margin-top: 5px;
}

.section-inner__button {
  margin-top: 60px;
}

.section_gray {
  background-color: #F0F0F0;
}

.section_dark {
  background-color: #222222;
  color: #fff;
  margin: 160px 0;
}

.car {
  font-size: 18px;
  line-height: 28.8px;
}

.cars__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cars__row:first-child {
  margin-top: 60px;
}

.car__img {
  height: 216px;
  width: 524px;
  transition: 0.2s ease-in all;
}

.car__img:hover {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.1) -2.5px 5px 7.5px, rgba(0, 0, 0, 0.1) 2.5px 5px 7.5px;
}

.car__bottom {
  display: flex;
  align-items: center;
}

.car__cost {
  margin-left: 30px;
}

.car__ad {
  color: #000;
  font-size: 14px;
  line-height: 22.4px;
  text-decoration: underline;
  transition: 0.1s all ease-in;
}

.car__ad:hover {
  color: #ED1D24;
  text-decoration: underline;
}

.start {
  margin-top: 70px;
}

.start__block {
  max-width: 266px;
}

.start__title {
  position: relative;
  font-size: 18px;
  line-height: 19.26px;
}

.start__title__link {
  text-decoration: underline;
}

.start__title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -4px;
  height: 33px;
  width: 17px;
  background-color: #FFDF39;
}

.start__descr {
  font-size: 16px;
  line-height: 17.12px;
  margin-top: 26px;
}

.feature {
  margin-top: 50px;
  display: flex;
}

.feature__img {
  width: 20px;
  height: 20px;
}

.feature__text {
  margin-top: -7px;
  margin-left: 25px;
  max-width: 299px;
}

.work {
  padding-top: 70px;
  color: #000;
}

.work__title {
  font-size: 30px;
  line-height: 36.75px;
}

.work__descr {
  font-size: 16px;
  line-height: 19.6px;
  max-width: 370px;
  margin-top: 15px;
}

.work__link {
  display: block;
  margin-top: 25px;
  width: 40%;
}

.contact {
  font-size: 16px;
  line-height: 17.12px;
  padding-left: 31px;
  margin-top: 59px;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.contact__img {
  max-width: 19.62px;
  max-height: 22px;
}

.contact__item {
  margin-top: 25px;
  display: flex;
}

.contact__text {
  font-size: 16px;
  line-height: 17.12px;
  margin-left: 7px;
}

.contact__descr {
  font-size: 14px;
  line-height: 14.98px;
  color: #8B8B8B;
}

.contact__map {
  font-size: 12px;
  line-height: 12.84px;
  text-decoration: underline;
  color: #8B8B8B;
  margin-top: 8px;
  display: block;
  text-align: center;
  transition: all ease-in 0.1s;
}

.contact__map:hover {
  color: #ED1D24;
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .form__textbox {
    width: 70%;
    margin-top: 30px;
  }

  .form__footer {
    justify-content: center;
    flex-wrap: wrap;
  }

  .form__policy {
    margin-top: 20px;
  }

  .prefooter__img {
    margin-left: 0;
    margin-top: 10px;
    width: 50%;
    height: 30px;
    background-color: #ecc500;
  }

  .footer {
    text-align: center;
    padding: 0;
    padding-bottom: 30px;
  }

  .footer__text,
  .footer__text_sm {
    text-align: center;
  }

  .footer__item {
    margin-top: 40px;
  }

  .footer-nav__item,
  .footer-nav__item_active {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  .footer-nav__item:first-child,
  .footer-nav__item_active:first-child {
    margin-top: 0;
  }

  .footer__policy {
    text-align: center;
  }

  .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    padding-left: 0;
    text-align: center;
    margin-top: 10px;
  }

  .section-inner__title_second {
    margin-top: 10px;
  }

  .section-inner__title,
  .section-inner__title_sm,
  .section-inner__title_second {
    margin-top: 20px;
  }

  .cars__row {
    display: flex;
    justify-content: center;
  }

  .start__block {
    margin-top: 40px;
  }

  .work {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    width: 100%;
  }

  .contact__block {
    width: 100%;
    margin-top: 30px;
  }

  .contact__item {
    width: 100%;
  }

  .contact__map {
    font-size: 1.2em;
    margin-top: 20px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-nav__item {
    margin-top: 20px;
    margin-left: 0;
  }

  .logo {
    margin-top: 20px;
  }

  .logo__text {
    margin: 0;
    margin-top: 5px;
    text-align: center;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .phone__link {
    font-size: 1em;
  }

  .phone {
    margin: 20px 0;
  }

  .smartphone {
    display: none;
  }

  .section__side,
  .section__side_relative {
    display: none;
  }

  .car__img {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .car__button {
    width: 100%;
  }
}