.footer{
    background-color: $background-2;
    padding: 0 100px;
    padding-top: 33px;
    padding-bottom: 20px;
    color: $text-light;
    @include font(15px, 16.05px);
    text-align: center;

    @media screen and (max-width: $tablet) {
        text-align: center;
        padding: 0;
        padding-bottom: 30px;
    }   

    &__text{
        text-align: left;
        margin-top: 6px;
        &_sm{
            @include font(14px, 15.68px);
            @extend .footer__text;
        }
        @media screen and (max-width: $tablet) {
            text-align: center;
        }   
    }
    &__item{
        height: 100%;
        @media screen and (max-width: $tablet) {
            margin-top: 40px;
        }   
    }
    &-nav{
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__list{
            display: flex;
            flex-wrap: wrap;
        }
        &__item{
            color: $text-descr;
            padding-right: 15px;
            transition: all 0.1s ease-in;
            &_active{
                @extend .footer-nav__item;
                color: $text-light;
            }
            &:hover{
                color: $text-light;
            }
            @media screen and (max-width: $tablet) {
                margin-top: 30px;
                width: 100%;
                text-align: center;
                &:first-child{
                    margin-top: 0;
                }
            }   
        }
        
    }
    &__policy{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        transition: all 0.1s ease-in;
        &:hover{
            color: $tertiary;
        }
        @media screen and (max-width: $tablet) {
            text-align: center;
        }   
    }
}

