//text colors

$text-descr: #8B8B8B;
$text: #000;
$text-light: #fff;

//accent colors

$primary: #222222;
$secondary: #FFDF39;
$tertiary: #ED1D24;


//background colors

$background-1: #F0F0F0;
$background-2: #222222;

//breakpoints

$smartphone: 767px;
$tablet: 1100px;